---
ColumnLimit: 0
IndentWidth: 2
ContinuationIndentWidth: 2
IndentWrappedFunctionNames: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
Standard: Cpp11
UseTab: Never
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
IndentPPDirectives: BeforeHash
PointerAlignment: Left
BinPackArguments: true
BinPackParameters: true
AccessModifierOffset: -2
AlwaysBreakTemplateDeclarations: true
BreakBeforeInheritanceComma: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
FixNamespaceComments: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ConstructorInitializerIndentWidth: 2
BreakBeforeBraces: Attach
SortIncludes: false
IndentCaseLabels: true